* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 64, 64);
}
h1 {
    text-align: center;
    padding-bottom: 10px;
}
.timer {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    margin: 10px;
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}
#btn-reset, #btn-save {
    grid-column: span 2;
}
.stopwatch {
    border: 2px solid black;
    min-width: 200px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    min-width: max-content;
}
button:hover {
    background-color: #0056b3; 
    transform: scale(1.05);     
}